# Environment
.env
.venv/
venv/
env/

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Heroku
*.log